.display-none {
  display: none;
}

.alert {
  padding: 20px;
  background-color: #f44336;
  color: white;
  border-radius: 2px;
  width: 40%;
  float: right;
  margin-top: 20px;
  font-size: 1.35em;
  opacity: 0.8;
  text-align: center;
}

.accordion-item {
  position: relative;
  color: white;
  font-weight: bold;
  background-color: #18202a;
  text-align: center;
  /* background-color: teal; */
  /* opacity: 0.8; */
  cursor: pointer;
  border-bottom: 2px solid;
  box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.75);
  border-radius: 5px;
  padding: 10px !important;
  line-height: 3px;
  margin-bottom: 0px;
  font: 400 13.3333px Arial;
  font-size: 1.5rem;
}
.accordion-item:hover {
  background-color: black;
}
.accordion-item::after {
  content: "";
  transition: transform 0.25s ease 0.1s;
  position: absolute;
  top: 50%;
  right: 20px;
  width: 10px;
  height: 10px;
  transform: translateY(-50%) rotate(-45deg);
  border-right: 2px solid #fff;
  border-bottom: 2px solid #fff;
}
.accordion-item.active {
  background-color: #000;
}
.accordion-item.active.after {
  transform: translateY(-50%) rotate(45deg);
  color: teal;
}

.open {
  overflow-y: scroll;
  display: block;
}

#form-container {
  border-radius: 5px;
  padding: 20px;
  display: grid;
  grid-template-areas: auto;
  background-color: inherit;
  width: 40%;
  display: none;
  margin-top: 5px !important;
  margin-bottom: 15px;
}
#form-container .form-row {
  margin-bottom: px;
}
#form-container .form-row .form-col-25 {
  float: left;
  width: 25%;
  padding: 5px 50px 0px 25px;
  margin-bottom: 0px;
  font-size: 1.3rem;
}
#form-container .form-row .form-col-75 {
  float: left;
  width: 75%;
  margin-bottom: 3px;
  font-size: 1.3rem;
  font-family: arial;
}
#form-container .form-row .form-col-75 ::placeholder {
  font-size: 1.2rem;
}
#form-container .form-row input[type=text], #form-container .form-row textarea, #form-container .form-row select {
  padding: 3px 7px 3px 7px;
  font: arial;
}
#form-container .form-row input[type=date] {
  padding: 3px 0px 3px 7px;
  font: arial;
}
#form-container .form-row #todo-value {
  padding-left: 4px;
}
#form-container .form-row:after {
  content: "";
  display: table;
  clear: both;
}
#form-container .button-container {
  margin-top: 5px;
  font-size: 1.3rem;
  font: 400 1.2rem Arial;
}
#form-container .button-container input {
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  float: right;
  padding: 6px 12px 6px 12px;
  margin-top: 5px;
  background-color: rgba(0, 128, 128, 0.7);
}
#form-container .button-container input:hover {
  background-color: rgba(0, 128, 128, 0.9);
}
#form-container.open {
  overflow-y: scroll;
  display: block;
}

#add-family-container {
  background-color: inherit;
  text-align: center;
  float: left;
  display: none;
  padding: 20px;
  margin-top: 5px !important;
}
#add-family-container input[name=add-family-button] {
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  float: right;
  padding: 6px 12px 6px 12px;
  margin-top: 5px;
  background-color: rgba(0, 128, 128, 0.7);
}
#add-family-container input[name=add-family-button]:hover {
  background-color: rgba(0, 128, 128, 0.9);
}
#add-family-container input[name=add-family-input] {
  width: 100%;
  margin: 10px 5px 10px 0px;
  background-color: inherit;
  color: white;
  font-size: 1.3rem;
  padding: 5px;
  border: none;
  border-bottom: 1px solid;
}
#add-family-container input[name=add-family-input]::placeholder {
  font-size: 1.2rem;
}